<launch>
  <arg name="nodelet_manager_name" default="capra_filters_nodelet_manager" />

  <include file="$(find capra_filters)/launch/Manager.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
    <arg name="gui" value="True" />
  </include>

  <node pkg="ros_vision" name="webcam_node" type="webcam_node.py" />

  <include file="$(find capra_filters)/filterchain/Sim.launch">
    <arg name="nodelet_manager_name" value="$(arg nodelet_manager_name)" />
  </include>

</launch>
