<launch>

  <include file="$(find capra_ai)/launch/LazyAI.launch">
    <arg name="speed" value="0.5"/>
    <remap from="/cmd_vel" to="/cmd_vel_computer" />
  </include>

  <include file="$(find capra_teleop)/launch/Teleop.launch" >
    <remap from="/cmd_vel" to="/cmd_vel_remote" />      
  </include>

  <include file="$(find capra_2dnav)/launch/capra_configuration.launch">
    <arg name="imu" value="0" />
  </include>

  <incude file="$(find capra_controlpanel)/launch/velproxy.launch" />

</launch>
