<launch>

  <include file="$(find capra_2dnav)/launch/capra_configuration.launch">
    <arg name="imu" value="0" />
  </include>

  <incude file="$(find capra_controlpanel)/launch/velproxy.launch" />

  <node pkg="capra_ai" name="simple_move" type="simple_move.py">
    <remap from="/cmd_vel" to="/cmd_vel_computer" />
  </node>

</launch>
