<launch>

    <include file="$(find capra_2dnav)/launch/capra_configuration.launch" >
      <arg name="lidar" default="0" />
      <arg name="imu" default="1" />
      <arg name="motors" default="1" />
      <arg name="gps" default="1" />
      <arg name="camera" default="0" />
    </include>

    <!-- MOVING
    <group>
      <remap from="map" to="projected_map" />
      <include file="$(find capra_2dnav)/launch/move_base.launch">
        <arg name="context" value="outdoors" />
      </include>
    </group>-->

    <include file="$(find capra_teleop)/launch/Teleop.launch" />

    <!-- MAPPING -->
    <node pkg="capra_lidar" name="scan_to_cloud_hf_node" type="scan_to_cloud_hf_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" />

    <!-- localization -->

    <include file="$(find capra_gps)/launch/latlong_goal.launch" />
    <include file="$(find capra_2dnav)/launch/kalman.launch" />

    <!--RVIZ  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/kalman.rviz"/>
    <node pkg="capra_imu" type="imu_display.py" name="imu_display" />

</launch>
