<launch>
    <include file="$(find capra_2dnav)/launch/capra_configuration.launch" >
      <arg name="lidar" default="1" />
      <arg name="imu" default="1" />
      <arg name="motors" default="1" />
      <arg name="gps" default="1" />
      <arg name="camera" default="0" />
      <arg name="publish_motor_odom" value="0" />
    </include>

    <!-- MOVING -->
    <include file="$(find capra_teleop)/launch/Teleop.launch" />
<!--
  <include file="$(find capra_2dnav)/launch/move_base.launch">
    <arg name="context" value="indoors" />
  </include>
-->
    <!-- MAPPING -->
    <node pkg="scan_to_cloud_converter" name="scan_to_cloud_converter_node" type="scan_to_cloud_converter_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" >
        <arg name="map_file" value="$(env IBEX_HOME)/maps/igvc_basic.bt" />
    </include>

    <!-- Positionning -->
    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 odom map 50" />
    <include file="$(find capra_2dnav)/launch/kalman.launch" />

    <!-- Goals -->

    <include file="$(find capra_ai)/launch/GoalManager.launch" >
        <!--<arg name="file" value="$(env IBEX_HOME)/bags/201505031904-gps.json" />-->
    </include>

    <!--RVIZ  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/kalman.rviz"/>
    <node pkg="capra_imu" type="imu_display.py" name="imu_display" />


</launch>
