<launch>
    <include file="$(find capra_2dnav)/launch/capra_configuration.launch" >
      <arg name="lidar" default="1" />
      <arg name="imu" default="1" />
      <arg name="motors" default="1" />
      <arg name="gps" default="1" />
      <arg name="camera" default="0" />
    </include>

    <!-- MOVING
    <include file="$(find capra_teleop)/launch/Teleop.launch" />-->

  <include file="$(find capra_2dnav)/launch/move_base.launch">
    <arg name="context" value="indoors" />
  </include>

    <!-- MAPPING -->
    <node pkg="scan_to_cloud_converter" name="scan_to_cloud_converter_node" type="scan_to_cloud_converter_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" >
    </include>

    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 odom map 50" />

    <!--RVIZ  -->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/mapping.rviz"/>

    <!-- Localization -->
    <group>
        <remap from="/latlong_goal_node/goal_xy" to="/move_base_simple/goal" />
        <include file="$(find capra_gps)/launch/latlong_goal.launch" />
    </group>

        <!-- GOAL LOADER -->
    <node name="goal_loader" pkg="capra_ai" type="goal_loader.py" output="screen">
        <param name="file" value="$(env IBEX_HOME)/bags/201504261556-gps.json" />
    </node>


    <node name="goal_manager" pkg="capra_ai" type="goal_manager.py" output="screen" />

</launch>
