<launch>
    <!-- GAZEBO -->
    <include file="$(find capra_gazebo)/launch/Gazebo.launch">
        <arg name="gui" value="false" />
    </include>

    <!-- MOVING -->
    <group>
      <include file="$(find capra_2dnav)/launch/move_base.launch">
        <arg name="context" value="gazebo" />
        <!--<arg name="context" value="indoors" />-->
      </include>
    </group>

    <!--<node pkg="capra_ai" type="simple_move.py" name="ai" />-->

    <!-- MAPPING -->
    <node pkg="scan_to_cloud_converter" name="scan_to_cloud_converter_node" type="scan_to_cloud_converter_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" >
    </include>

    <!--<remap from="projected_map" to="map" />-->

    <!--<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" />-->
    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 odom map 50" />

    <!--RVIZ  -->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/mapping.rviz"/>

    <include file="$(find capra_ai)/launch/GoalManager.launch">
        <arg name="loop" value="1" />
        <arg name="file" value="$(find capra_2dnav)/../../bags/goal_man_test.json" />
    </include>

</launch>
