<launch>
    <!-- GAZEBO -->
    <include file="$(find capra_gazebo)/launch/Gazebo.launch">
        <arg name="gui" value="false" />
    </include>

    <!-- MOVING -->
    <include file="$(find capra_2dnav)/launch/move_base.launch">
      <arg name="context" value="indoors" />
    </include>

    <!--<node pkg="capra_ai" type="simple_move.py" name="ai" />-->

    <!-- MAPPING -->
    <node pkg="scan_to_cloud_converter" name="scan_to_cloud_converter_node" type="scan_to_cloud_converter_node" >
        <!--<remap from="cloud" to="cloud_in" /> don't give anything to octomap -->
    </node>


    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(env IBEX_HOME)/maps/map3.bt" >
           <remap from="projected_map" to="map" />
    </node>

    <node pkg="amcl" type="amcl" name="amcl_node" >
        <rosparam param="use_map_topic" >true</rosparam>

    </node>

    <!--<remap from="projected_map" to="map" />-->
    <!--<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" />-->
    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 odom map 50" />

    <!--RVIZ  -->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/mapping.rviz"/>
</launch>
