<launch>
    <!-- GAZEBO -->
    <include file="$(find capra_gazebo)/launch/Gazebo.launch">
        <arg name="gui" value="True" />
        <arg name="world" value="$(find capra_gazebo)/worlds/grass_lanes.world" />
        <arg name="initial_position" value="-x -17 -y 16.7 -rpy 1.6" />
    </include>

    <!-- MOVING -->
    <group>
      <include file="$(find capra_2dnav)/launch/move_base.launch">
        <arg name="context" value="indoors" />
      </include>
    </group>

    <!--<node pkg="capra_ai" type="simple_move.py" name="ai" />-->

    <!-- MAPPING -->
    <node pkg="scan_to_cloud_converter" name="scan_to_cloud_converter_node" type="scan_to_cloud_converter_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" >

    </include>

    <!--<remap from="projected_map" to="map" />-->
    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 odom map 50" />

    <!-- VISION -->
    <include file="$(find seagoatvision_ros)/launch/Seagoat.launch" >
        <arg name="filterchain" value="$(find seagoatvision_ros)/filterchain/sim.filterchain" />
        <arg name="gui" value="True" />
        <arg name="calibration_file" value="$(find seagoatvision_ros)/filterchain/calibrate-sim.filterchain" />
    </include>

    <!--RVIZ  -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/mapping.rviz"/>

</launch>
