<launch>
    <!-- GAZEBO -->
    <include file="$(find capra_gazebo)/launch/Gazebo.launch">
        <arg name="gui" value="false" />
         <arg name="initial_position" default="-x 0 -y 0 -rpy 1.6" />
    </include>

        <!-- GOAL LOADER
    <node name="goal_loader" pkg="capra_ai" type="goal_loader.py" output="screen">
        <param name="file" value="$(find capra_ai)/../../bags/loader_test.json" />
    </node>
    <node name="goal_manager" pkg="capra_ai" type="goal_manager.py" output="screen" />-->

    <!-- MOVING -->
    <group>
      <remap from="map" to="projected_map" />
      <include file="$(find capra_2dnav)/launch/move_base.launch">
        <arg name="context" value="indoors" />
      </include>
    </group>

    <!-- MAPPING -->
    <node pkg="scan_to_cloud_converter" name="scan_to_cloud_converter_node" type="scan_to_cloud_converter_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" >
    </include>

    <node pkg="tf" type="static_transform_publisher" name="map_broadcaster" args="0 0 0 0 0 0 odom map 50" />

    <!--RVIZ  -->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/mapping.rviz"/>

    <!-- Localization-->
    <group>
        <!--<remap from="/latlong_goal_node/goal_xy" to="/move_base_simple/goal" />-->
        <include file="$(find capra_gps)/launch/latlong_goal.launch" />
    </group>



</launch>
