<launch>
    <!-- GAZEBO -->
    <include file="$(find capra_gazebo)/launch/Gazebo.launch">
        <arg name="gui" value="true" />
        <arg name="world" value="$(find capra_gazebo)/worlds/grass_lanes.world" />
    </include>

    <!-- MOVING
    <group>
      <remap from="map" to="projected_map" />
      <include file="$(find capra_2dnav)/launch/move_base.launch">
        <arg name="context" value="indoors" />
      </include>
    </group>-->

    <!--a
     <node pkg="capra_ai" name="simple_move" type="simple_move.py" />-->

    <include file="$(find capra_teleop)/launch/Teleop.launch" />

    <!-- MAPPING -->
    <node pkg="capra_lidar" name="scan_to_cloud_hf_node" type="scan_to_cloud_hf_node" >
        <remap from="cloud" to="cloud_in" />
    </node>

    <include file="$(find capra_2dnav)/launch/octomap.launch" />

    <!--RVIZ  -->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find capra_gazebo)/../../rviz_cfg/kalman.rviz"/>

    <!-- Position -->

    <include file="$(find capra_gps)/launch/gps_localization.launch" />
    <include file="$(find capra_2dnav)/launch/kalman.launch" />


</launch>
