<launch>
    <arg name="front_port" default="/dev/ttyACM0" />
    <arg name="front_baud" default="115200" />
    <arg name="rear_port" default="/dev/ttyACM2" />
    <arg name="rear_baud" default="115200" />
    <arg name="swivel_port" default="/dev/ttyACM3"/>
    <arg name="swivel_baud" default="115200"/>
    <node pkg="roboteq_motor" name="roboteq_motor" type="roboteq_motor_node.py" output="screen" clear_params="true">

    </node>
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver_front" output="screen">
        <param name="port" value="$(arg front_port)" />
        <param name="value" value="$(arg front_baud)" />
        <rosparam param="channels">[ "left", "right" ]</rosparam>
        <remap from="/status" to="roboteq_driver/front/status" />
        <remap from="/left/cmd" to="roboteq_driver/front/left/cmd" />
        <remap from="/right/cmd" to="roboteq_driver/front/right/cmd" />
        <remap from="/left/feedback" to="roboteq_driver/front/left/feedback" />
        <remap from="/right/feedback" to="roboteq_driver/front/right/feedback" />

    </node>
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver_rear" output="screen">
        <param name="port" value="$(arg rear_port)" />
        <param name="value" value="$(arg rear_baud)" />
        <rosparam param="channels">[ "left", "right" ]</rosparam>
        <remap from="/status" to="roboteq_driver/rear/status" />
        <remap from="/left/cmd" to="roboteq_driver/rear/left" />
        <remap from="/right/cmd" to="roboteq_driver/rear/right" />
        <remap from="/left/feedback" to="roboteq_driver/rear/left/feedback" />
        <remap from="/right/feedback" to="roboteq_driver/rear/right/feedback" />
    </node>

    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver_swivel" output="screen">
        <param name="port" value="$(arg swivel_port)" />
        <param name="value" value="$(arg swivel_baud)"/>
        <remap from="/status" to="roboteq_driver/swivel/status" />
        <remap from="/cmd" to="roboteq_driver/swivel/cmd"/>
        <remap from="/feedback" to="roboteq_driver/swivel/feedback"/>
    </node>

</launch>
