<launch>
  <arg name="outdoor" default="1" />
  
  <!-- OUTDOOR (IGVC, ...) -->
  <group if="$(arg outdoor)">
    <!-- Octomap ici? http://answers.ros.org/question/59391/2d-mapping/-->
  </group>

  <!-- INDOORS (ETS, ...) -->
  <group unless="$(arg outdoor)">
    <include file="$(find capra_2dnav)/launch/includes/hector.launch"/>
  </group>

  <!--  
  <include file="$(find capra_2dnav)/launch/includes/kalman.launch">
    <arg name="outdoor" value="$(arg outdoor)" />
  </include>
  -->

</launch>