<launch>
    <arg name="world" default="capra" />
    <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find capra_gazebo)/worlds/$(arg world).world"/>
        <arg name="headless" value="true" />    
        <arg name="gui" value="false" />
    <!-- more default parameters can be changed here -->
    </include>
    <!-- Spawn a robot into Gazebo -->
    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-file $(find capra_gazebo)/models/capra6/model.sdf -sdf -model capra6" />
</launch>
