<launch>
  <arg name="robot_description" value="$(find capra_2dnav)/models/capra6/capra6.urdf" />
  <arg name="world" default="$(find capra_gazebo)/worlds/shapes2.world" />
  <arg name="gui" default="true" />
  <arg name="initial_position" default="-x 0 -y 0 -rpy 0" />
  <arg name="tf_topic" default="/tf" />

  <node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 50" />
  <node name="imu_zero" pkg="capra_imu" type="imu_zero.py" output="screen" />

  <!-- GAZEBO -->
    <group>
         <remap from="/tf" to="$(arg tf_topic)" /> <!--useful if using localization and we don't want the odom->base_footprint tf from gazebo -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)" />
            <arg name="gui" value="$(arg gui)" />
        </include>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg robot_description) -urdf $(arg initial_position) -model capra6" />
    </group>

  <!-- BUILD ROBOT -->
  <rosparam command="load" param="robot_description" file="$(arg robot_description)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="capra6_state_publisher" />

    <!-- convert gps coords -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="0"/>
        <param name="roll_offset" value="0"/>
        <param name="pitch_offset" value="0"/>
        <param name="yaw_offset" value="0"/>
        <param name="zero_altitude" value="false"/>
        <remap from="/odometry/filtered" to="/odom" />
    </node>
    <include file="$(find capra_gps)/launch/latlong_goal.launch" />

        <!--scan filters -->
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <rosparam command="load" file="$(find capra_lidar)/config/laser_threshold_5m.yaml" />
        <remap from="/scan" to="/scan" />
        <remap from="/scan_filtered" to="/scan_5m" />
    </node>

</launch>
