<launch>
  <arg name="robot_description" value="$(find capra_2dnav)/models/capra6/capra6.urdf" />
  <arg name="door_description" value="$(find capra_gazebo)/models/lattice_large/model.sdf" />
  <arg name="world" default="$(find capra_gazebo)/worlds/igvc_advanced_course.world" />
  <arg name="gui" default="true" />
  <arg name="initial_position" default="-x 22.5 -y -40 -rpy 0" />

  <node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 50" />

  <!-- GAZEBO -->
    <group>
        <!-- <remap from="/tf" to="/tf_null" /> useful if using localization and we don't want the odom->base_footprint tf from gazebo -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)" />
            <arg name="gui" value="$(arg gui)" />
        </include>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg robot_description) -urdf $(arg initial_position) -model capra6" />
        <node name="spawn_door_1" pkg="gazebo_ros" type="spawn_model" args="-file $(arg door_description) -sdf -x 0 -y -9 -rpy 0 -model door_1" />
        <node name="spawn_door_2" pkg="gazebo_ros" type="spawn_model" args="-file $(arg door_description) -sdf -x 0 -y 13 -rpy 0 -model door_2" />
        <!-- <node name="spawn_door_3" pkg="gazebo_ros" type="spawn_model" args="-file $(arg door_description) -sdf -x 0 -y 38 -rpy 0 -model door_3" /> -->
    </group>

  <!-- BUILD ROBOT -->
  <rosparam command="load" param="robot_description" file="$(arg robot_description)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="capra6_state_publisher" />

    <!-- convert gps coords -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="0"/>
        <param name="roll_offset" value="0"/>
        <param name="pitch_offset" value="0"/>
        <param name="yaw_offset" value="0"/>
        <param name="zero_altitude" value="false"/>
        <remap from="/gps/fix" to="/fix" />
        <remap from="/odometry/filtered" to="/odom" />
    </node>

</launch>
