<launch>
  <arg name="robot_description" value="$(find capra_2dnav)/models/capra6/capra6.urdf" />
  <arg name="world" default="$(find capra_gazebo)/worlds/igvc_basic_course.world" />
  <arg name="gui" default="true" />
  <arg name="initial_position" default="-x 0 -y -22.5 -rpy 0" />

  <!-- GAZEBO -->
    <group>
        <!-- <remap from="/tf" to="/tf_null" /> useful if using localization and we don't want the odom->base_footprint tf from gazebo -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world)" />
            <arg name="gui" value="$(arg gui)" />
        </include>
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(arg robot_description) -urdf $(arg initial_position) -model capra6" />
    </group>

  <!-- BUILD ROBOT -->
  <rosparam command="load" param="robot_description" file="$(arg robot_description)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="capra6_state_publisher" />

</launch>
