<launch>
  <arg name="lidar" default="1" />
  <arg name="imu" default="0" />
  <arg name="motors" default="1" />
  <arg name="gps" default="0" />
  <arg name="camera" default="0" />
  <arg name="control_panel" default="0" />

  <arg name="publish_motor_odom" default="1" />

  <!-- Robot and TF -->
  <arg name="robot_description" value="$(find capra_2dnav)/models/capra6/capra6.urdf" />
  <node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 30" />
  <rosparam command="load" param="robot_description" file="$(arg robot_description)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="capra6_state_publisher" />


  <!-- Motors -->
  <group if="$(arg motors)">
    <include file="$(find animatics_smart_motor)/launch/SmartMotor.launch" />
      <group if="$(arg publish_motor_odom)">
        <include file="$(find animatics_smart_motor)/launch/OdomToTf.launch" />
      </group>
  </group>

  <!-- LIDAR -->
  <group if="$(arg lidar)">
    <include file="$(find capra_lidar)/launch/LMS100.launch" />
  </group>

  <!-- IMU -->
  <group if="$(arg imu)">
    <include file="$(find capra_imu)/launch/Imu.launch" >
        <arg name="rviz" value="0" />
    </include>
  </group>

  <!-- GPS -->
  <group if="$(arg gps)">
    <include file="$(find capra_gps)/launch/Gps.launch" />
    <include file="$(find capra_gps)/launch/latlong_goal.launch" >
    </include>
  </group>

  <!-- Camera -->
  <group if="$(arg camera)" >
    <include file="$(find capra_camera)/launch/PointGrey.launch" />
    <include file="$(find capra_camera)/launch/Stereovision.launch" />
  </group>

  <!-- Control panel -->
  <group if="$(arg control_panel)" >
    <include file="$(find capra_controlpanel)/launch/ControlPanelServer.launch" />
  </group>

</launch>
