<launch>
  <arg name="lidar" default="1" />
  <arg name="imu" default="0" />
  <arg name="motors" default="1" />  
  <arg name="gps" default="0" />
  <arg name="camera" default="0" />

  <arg name="magnetic_declination_radians" value="-0.25" />

  <!-- Robot and TF -->
  <arg name="robot_description" value="$(find capra_2dnav)/models/capra6/capra6.urdf" />
  <node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 50" />
  <rosparam command="load" param="robot_description" file="$(arg robot_description)" />
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="capra6_state_publisher" />  

  <!-- Motors -->
  <group if="$(arg motors)">  
    <include file="$(find animatics_smart_motor)/launch/SmartMotor.launch" />
    <include file="$(find animatics_smart_motor)/launch/OdomToTf.launch" />
  </group>

  <!-- LIDAR -->
  <group if="$(arg lidar)">
    <include file="$(find capra_lidar)/launch/LMS100.launch" />  
  </group>

  <!-- IMU -->
  <group if="$(arg imu)">
    <!-- Ajouter le IMU au URDF et supprimer cette ligne -->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 3.14159 base_link imu 50" />
    <include file="$(find capra_imu)/launch/Imu.launch" >
        <arg name="magnetic_declination_radians" value="$(arg magnetic_declination_radians)" />
    </include>
  </group>
    
  <!-- GPS -->
  <group if="$(arg gps)">
    <include file="$(find capra_gps)/launch/Gps.launch" >
        <arg name="magnetic_declination_radians" value="$(arg magnetic_declination_radians)" />
    </include>
  </group>

  <!-- Camera -->
  <group if="$(arg camera)" >
      <include file="$(find capra_camera)/launch/CameraProsilica.launch" />
  </group>

</launch>
