<launch>
  <arg name="outdoor" default="1" />
  
  <node pkg="tf" type="static_transform_publisher" name="footprint_broadcaster" args="0 .15 0 0 0 0 base_footprint base_link 50" />  

  
  <!-- MOTORS -->  
  <include file="$(find animatics_smart_motor)/launch/SmartMotor.launch" />

  <!-- LIDAR -->
  <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster"     args=".35 0 0 0 0 0 base_link laser 50" />
  <include file="$(find capra_lidar)/launch/LMS100.launch" />  

  <group if="$(arg outdoor)">
    <!-- IMU -->
    <include file="$(find microstrain_3dmgx1_imu)/launch/3DMGX1.launch" />
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 3.14159 base_link imu 50" />
    
    <!-- GPS -->
    <include file="$(find capra_gps)/launch/Gps.launch" /> 
  </group>

  <group unless="$(arg outdoor)">
    <!-- FAKE IMU -->
    <include file="$(find capra_lidar)/launch/FakeImu.launch" />
  </group>

</launch>