<launch>
  <arg name="context" default="indoors" />
  <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS" />
  <arg name="odom_topic" default="/odom" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true" >
    <rosparam file="$(find capra_2dnav)/config/$(arg context)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find capra_2dnav)/config/$(arg context)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find capra_2dnav)/config/$(arg context)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find capra_2dnav)/config/$(arg context)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find capra_2dnav)/config/$(arg context)/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find capra_2dnav)/config/$(arg context)/base_global_planner_params.yaml" command="load" />
    <param name="planner_frequency" value="2.0" />
      <!--<param name="recovery_behavior_enabled" value="true" />
      <param name="clearing_rotation_allowed" value="false" />-->
    <param name="controller_frequency" value="15.0" />
    <param name="base_local_planner" value="$(arg base_local_planner)" />
    <remap from="/odom" to="$(arg odom_topic)" />
    <rosparam param="recovery_behaviors">
      [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: clear_octomap, type: capra_2dnav/ClearOctomap}, {name: rotate_recovery, type: rotate_recovery/RotateRecovery}, {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: clear_octomap_pls, type: capra_2dnav/ClearOctomap}]
    </rosparam>
     <!-- <rosparam param="recovery_behaviors">
      [{name: conservative_reset, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: aggressive_reset_ok, type: clear_costmap_recovery/ClearCostmapRecovery}, {name: rotate_recovery, type: rotate_recovery/RotateRecovery}, {name: aggressive_reset, type: clear_costmap_recovery/ClearCostmapRecovery}]
    </rosparam> -->
  </node>
</launch>
