<launch>

  <node pkg="rosbag" type="play" name="rosbag" args="-l -r 3  $(env HOME)/.ros/2016-06-04-20-53-20.bag">
    <remap from="/odom" to="/odom/null" />
  </node>

  <include file="$(find capra_filters)/launch/Left.launch" />
  <include file="$(find capra_filters)/launch/Right.launch">
    <arg name="gui" value="false" />
  </include>

</launch>
