#!/usr/bin/env python

PACKAGE = "capra_filters"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("bottomy", int_t, 0, "Bottom Y", 133, 0, 1000)
gen.add("realy", int_t, 0, "Real Y", 258, 0, 1000)
gen.add("x", int_t, 0, "X", 0, -1000, 1000)
gen.add("dn_d", double_t, 0, "dn_d", 0.1, -2, 2)

exit(gen.generate(PACKAGE, "capra_filters", "ObstacleFilter"))
