<launch>
    <arg name="magnetic_declination_radians" default="0.0" />

    <include file="$(find vectornav)/launch/vn200.launch" />

    <node pkg="vectornav" name="imu_msg" type="imu_msg.py" >
        <remap from="vectornav/imu/orient" to="/imu/raw" />
    </node>

    <node pkg="capra_imu" type="imu_change_frame.py" name="imu_change_frame" output="screen" />
</launch>