<launch>
    <include file="$(find vectornav)/launch/vn200.launch" />

    <node pkg="vectornav" name="imu_msg" type="imu_msg.py" clear_params="true">
        <remap from="vectornav/imu/orient" to="/imu/raw" />
    </node>

    <node pkg="capra_imu" type="imu_change_frame.py" name="imu_change_frame" output="screen" clear_params="true"/>
</launch>