#!/usr/bin/env python

PACKAGE = "capra_filters"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("input", str_t, 0, "Input topic", "")
gen.add("output", str_t, 0, "Output topic", "")

exit(gen.generate(PACKAGE, "capra_filters", "bgr2rgb"))
