<launch>
  <arg name="capra_filters_ns" default="capra_filters" />

  <node pkg="nodelet" name="hide_robot" type="nodelet" args="load capra_filters/rectangle /$(arg capra_filters_ns)/nodelet_manager">
    <param name="output" value="no_robot" />
    <param name="height" value="112" />
    <param name="width" value="154" />
    <param name="input" value="/stereo/right/image_rect_color" />
    <param name="y" value="409" />
    <param name="x" value="200" />
    <param name="type" value="capra_filters/rectangle" />
  </node>

  <node pkg="nodelet" name="section_filter" type="nodelet" args="load capra_filters/section_filter /$(arg capra_filters_ns)/nodelet_manager">
    <param name="sections" value="7" />
    <param name="grass_max" value="224" />
    <param name="min_area" value="1000" />
    <param name="kernel_erode_width" value="2" />
    <param name="grass_min" value="163" />
    <param name="light_min" value="206" />
    <param name="kernel_dilate_width" value="1" />
    <param name="kernel_erode_height" value="2" />
    <param name="kernel_dilate_height" value="2" />

    <param name="input" value="no_robot" />
    <param name="output" value="section_filter" />
    <param name="type" value="capra_filters/section_filter" />
  </node>

  <node pkg="nodelet" name="hide_noise" type="nodelet" args="load capra_filters/rectangle /$(arg capra_filters_ns)/nodelet_manager">
    <param name="output" value="section_filter_filtered" />
    <param name="height" value="10" />
    <param name="width" value="700" />
    <param name="input" value="section_filter" />
    <param name="y" value="511" />
    <param name="x" value="0" />
    <param name="type" value="capra_filters/rectangle" />
  </node>

  <node pkg="nodelet" name="perspective_calibration" type="nodelet" args="load capra_filters/warp_perspective /$(arg capra_filters_ns)/nodelet_manager">
    <param name="a" value="0.21558787099269852" />
    <param name="b" value="0.43356978612565833" />
    <param name="c" value="48.26412708411137" />
    <param name="d" value="0.049843434037165214" />
    <param name="e" value="1.0197270471112923" />
    <param name="f" value="114.74205915146605" />
    <param name="g" value="0.0001821089389722411" />
    <param name="h" value="0.0043716252383673125" />
    <param name="i" value="1.0" />
    
    <param name="input" value="section_filter" />
    <param name="output" value="perspective_calibration" />
    <param name="type" value="capra_filters/warp_perspective" />
  </node>
  <node pkg="capra_filters" name="image_to_pointcloud" type="image_to_pointcloud.py">
    <param name="in" value="perspective_calibration" />
    <param name="out" value="/cloud_in" />
  </node>
</launch>
