<launch>
    <arg name="magnetic_declination_radians" default="0.0" />

  <!-- NavSat serial comms -->
  <group ns="gps">
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_node">
      <param name="port" value="/dev/ttyUSB1002" />
      <param name="baud" value="9600" />
    </node>

  </group>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="0.0"/>
        <param name="delay" value="0"/>
        <param name="roll_offset" value="0"/>
        <param name="pitch_offset" value="0"/>
        <param name="yaw_offset" value="3.92"/>
        <!--<param name="yaw_offset" value="4.36"/>-->
       <!-- <param name="yaw_offset" value="1.5707963"/> -->
        <param name="zero_altitude" value="true"/>
        <param name="broadcast_utm_transform" value="false" />
        <param name="use_odometry_yaw" value="true" />
        <remap from="/odometry/filtered" to="/odom" />
        <remap from="/imu/data" to="/imu/zero" />

    </node>

    <node pkg="capra_gps" type="gps_low_cov.py" name="gps_low_cov" output="screen" />

</launch>
