<launch>
  <!-- NavSat serial comms -->
  <group ns="gps">
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_node">
      <param name="port" value="/dev/ttyUSB4" />
      <param name="baud" value="9600" />
    </node>

  </group>

    <node pkg="robot_localization" type="navsat_transform_node" name="latlong_goal_converter_node" respawn="true">
        <param name="magnetic_declination_radians" value="0"/>
        <param name="roll_offset" value="0"/>
        <param name="pitch_offset" value="0"/>
        <param name="yaw_offset" value="0"/>
        <param name="zero_altitude" value="false"/>
        <param name="broadcast_utm_transform" value="false" />
    </node>

</launch>