<launch>
    <arg name="magnetic_declination_radians" default="0.0" />

  <!-- NavSat serial comms -->
  <group ns="gps">
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_serial_node">
      <param name="port" value="/dev/ttyUSB1001" />
      <param name="baud" value="9600" />
    </node>

  </group>

    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
        <param name="magnetic_declination_radians" value="$(arg magnetic_declination_radians)"/>
        <param name="roll_offset" value="0"/>
        <param name="pitch_offset" value="0"/>
        <param name="yaw_offset" value="0"/>
        <param name="zero_altitude" value="false"/>
        <param name="broadcast_utm_transform" value="false" />
        <remap from="/odometry/filtered" to="/odom" />
    </node>

</launch>
