local_costmap:
  global_frame: odom
  robot_base_frame: base_footprint
  update_frequency: 20.0
  publish_frequency: 8.0
  static_map: false
  rolling_window: true
  width: 20.0
  height: 20.0
  resolution: 0.05
