<launch>
  <include file="$(find capra_2dnav)/launch/capra_configuration.launch">
    <arg name="outdoor" value="0" />
  </include>

  <include file="$(find capra_2dnav)/launch/includes/gmapping.launch">
  </include>


  <include file="$(find capra_2dnav)/launch/includes/kalman.launch">
    <arg name="outdoor" value="0" />
  </include>


  <include file="$(find capra_2dnav)/launch/move_base.launch">
  </include>

  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>