<launch>
  <include file="$(find capra_teleop)/launch/TeleopPanTilt.launch" />

  <include file="$(find autonomous_3d_mapping_bringup)/launch/Mapping.launch" />

  <include file="$(find capra_2dnav)/launch/capra_configuration.launch">
    <arg name="outdoor" value="0" />
  </include>

  <include file="$(find capra_2dnav)/launch/localization_mapping.launch">
    <arg name="outdoor" value="0" />
  </include>

  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>