<launch>
  <node name="map_server" pkg="map_server" type="map_server" args="$(env IBEX_HOME)/maps/pfe_map.yaml" />

  <include file="$(find capra_2dnav)/launch/includes/amcl.launch" />

  <include file="$(find autonomous_3d_mapping_bringup)/launch/Mapping.launch" />

  <include file="$(find capra_2dnav)/launch/capra_configuration.launch">
    <arg name="outdoor" value="0" />
  </include>

  <include file="$(find capra_2dnav)/launch/move_base.launch">
  </include>

  <node pkg="rviz" type="rviz" name="rviz"/>
</launch>