@font-face {
	font-family: digital7;
	src: url('../font/digital7.ttf');
}

.monitoringValue
{
	font-family:digital7;
	font-size:36px;
	color:red;
}

.sensorBlock
 {
	cursor:pointer;
 }

 body 
 {
 }
 
#container 
{
	width:1000px;
	padding:15px;
	margin : 15px;
} 
 
#open
{
	background-color:#cccccc;
	border:1px solid black;
}

#open:hover
{
	border:1px solid orange;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#sensors ul
{
	list-style-type:none;
}

#sensors td
{
	padding:10px;
}

.connectBoxPosition
{
	position:absolute;
	left:500px;
	top : 0px;
}

#monitoring table
{
	border-collapse:collapse;
}

.sensorBlock
{
	text-align:center;
}

#monitoring td
{
	border-bottom:1px solid black;
	padding:10px;
}

#sensors
{

}